rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Mở toàn bộ quyền cho bất kỳ người dùng nào đã đăng nhập
    // Cảnh báo: Chỉ sử dụng cho môi trường phát triển (development).
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}